.hidden,
#import-frame{
  display:none!important;
}
input[type='checkbox']{
  height:1.5em
}
h2,h3{
  margin-block-end:.5em;
}
form{
  margin-left:.5em;
}
.opt-group{
  display:flex;
  align-items:center;
}
.opt-group:not(.file-select):hover{
  background-color:hsla(240,5%,50%,.07);
}
.opt-group>label{
  flex:1;
  padding-left:.15em;
}
.indent{
  margin-left:1.3em;
}
.description{
  opacity:.7;
  padding-left:2em;
}
.description.inline{
  padding-left:0;
}
.file-select{
  margin-top:.5em;
}
a{
  color:-moz-hyperlinktext;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}