body{
  --quantum-timing-func:cubic-bezier(.07,.95,0,1);
  font:-moz-document;
  color:-moz-fieldtext;
  background-color:-moz-field;
  max-width:550px;
}
body[popup-opened]{
  overflow:hidden;
}
textarea{
  resize:none;
}
ul{
  list-style-type:none;
  padding-left:.5em;
  margin:.5em 0 .5em .7em;
  border:solid hsla(240,5%,50%,.3);
  border-width:0 0 0 1px;
}
#tree{
  padding:0 .5em;
}
#tree>ul{
  margin-left:0;
}
ul:hover{
  border-color:hsla(240,5%,50%,.7);
}
li{
  border-radius:2px;
  cursor:pointer;
  padding:2px 4px;
  border:1px solid transparent;
  border-block-start:1px solid transparent;
  margin-block-start:-1px;
  display:flex;
  align-items:start;
  overflow-x:hidden;
}
li:not(:first-child):not(:nth-child(2)){
  border-block-start-color:hsla(240,5%,50%,.20);
}
.title+li,
.separator+li,
li:hover,
li:hover+li,
ul+li{
  border-block-start-color:transparent!important;
}
.title{
  display:inline;
  overflow-wrap:break-word;
  max-width:100%;
}
.has-favicon>.title{
  max-width:calc(100% - 1.15em);
}
ul>.title{
  font-weight:bolder;
  margin:0 0 .25em -.7em;
  background-color:-moz-field;
  cursor:pointer;
  transition:opacity .15s var(--quantum-timing-func)
}
ul>.title::before{
  content:'\2013';
  padding-right:.2em;
}
ul.collapsed,
#tree>ul.collapsed{
  margin-left:-.5em;
  margin-right:-.5em;
  border-color:transparent;
}
ul.collapsed>li{
  display:none;
}
ul.collapsed>.title{
  opacity:.7;
  margin-left:-.1em;
}
ul.collapsed>.title::before{
  content:'+';
  padding-right:.2em;
}
ul>ul.collapsed{
  margin-left:0;
  margin-right:0;
}
ul>.title:hover{
  opacity:.8;
}
ul.collapsed>li{
  pointer-events:none;
}
li:hover{
  border-color:hsla(240,5%,50%,.25);
  background-color:-moz-buttonhoverface;
}
li.separator{
  background:linear-gradient(to bottom, transparent, transparent calc(50% - 1px), currentcolor calc(50% - 1px), currentcolor calc(50% + 1px), transparent calc(50% + 1px), transparent);
  border:none;
  border-block-end:none;
  pointer-events:none;
  height:1em;
  opacity:.65;
}
li.separator>.title{
  visibility:hidden;
}
.favicon{
  height:1.13em;
  width:1.13em;
  margin:.15em .25em 0 0;
}
#popup-bg{
  position:fixed;
  top:0;
  left:0;
  padding:.75em;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.65);
  transition:opacity .2s var(--quantum-timing-func);
  text-align:center;
}
#popup{
  font:-moz-dialog;
  color:-moz-dialogtext;
  border-radius:4px;
  margin:25vh auto;
  max-width:400px;
  height:50vh;
  background-color:-moz-dialog;
  display:flex;
  flex-direction:column;
  padding:.25em .5em .5em;
  transform:scale(1,1);
  transition:transform .15s var(--quantum-timing-func);
}
#popup-title-group{
  width:100%;
}
#popup-title-group>*{
  display:block;
  text-align:center;
  text-overflow:clip;
  overflow:hidden;
}
#popup-title{
  font-weight:bolder;
  font-size:1.13em;
  max-height:2.8em;
}
#popup-url{
  color:inherit;
  text-decoration:none;
  font-style:italic;
  white-space:nowrap;
  font-size:0.84em;
  opacity:.65;
  mask-image:linear-gradient(to right, black, black calc(100% - 1em), transparent 100%);
}
#popup-url:hover{
  text-decoration:underline;
}
#note-input{
  border-radius:2px;
  border:1px solid -moz-cellhighlight;
  font-size:1rem;
  font:-moz-document;
  margin:.5em 0 0;
  padding:0 .5em;
  height:100%;
  box-shadow:0 1px 4px hsla(240,5%,5%,.07);
}
#note-input:focus{
  border-color:Highlight;
}
body:not([popup-opened]) #popup-bg{
  opacity:0;
  pointer-events:none;
}
body:not([popup-opened]) #popup{
  transform:translate(0, -.75em);
}
#popup-title::before,
#popup-url::before{
  content:attr(title)
}
#popup-buttons{
  display:flex;
  border-top:1px solid -moz-cellhighlight;
  margin: .5em -.5em -.5em;
  border-radius:0 0 4px 4px;
  overflow:hidden;
  align-items:center;
}
#popup-buttons>.button{
  font:-moz-button;
  background-color:-moz-buttonhoverface;
  flex:1;
  text-align:center;
  padding:1.13em 0;
  cursor:pointer;
}
#popup-buttons>.button.save{
  background-color:-moz-menuhover;
  color:-moz-default-background-color;
  border-left:1px solid -moz-cellhighlight;
}
#popup-buttons>.button:hover{
  text-decoration:underline;
}